
@{
    ViewBag.Title = "Login";
}



<div class="" style="border:solid 1px ">
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Usuário</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="userHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Senha</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
           <label>Esqueceu a senha?</label><br />
           <label><a>Clique aqui.</a></label>
        </div>
        <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
   
</div>
