@{
    ViewData["Title"] = "Menu";

    @Scripts.Render("~/Scripts/Views/Menu.js")
}

<script>
    var urlOpenEstablishment = '@Url.Action("index", "Establishments")';
</script>

<div class="row" style="text-align:center;margin-top: 25px;">
    <div class="col-md-4">
        <div class="divEstablishment">
            <img src="~/Content/img/estabelecimentos.png" width="150" height="150" onclick="OpenEstablishments()" />
        </div>
        <span>Cadastro de Estabelecimentos </span>
    </div>
    <div class="col-md-4">
        <div class="divCategories">
            <img src="~/Content/img/categorias.png" width="150" height="150" />
        </div>
        <span>Cadastro de Categorias    </span>
    </div>
    @*<div class="col-md-4">
        <div>
            <a href="../Produto/Index"><img src="~/Content/img/" width="150" height="150" /></a>
        </div>
        <span>Cadastro de Produtos    </span>
    </div>*@
</div>

<br /><br />

@*<div class="row" style="text-align:center;">
    <div class="col-md-4">
        <div>
            <a href="../Venda/Index "> <img src="~/Content/img/" width="150" height="150" /></a>
        </div>
        <span>Registro de Vendas</span>
    </div>
    <div class="col-md-4">
        <div>
            <a href="../Relatorio/Grafico"><img src="~/Content/img/" width="150" height="150" /></a>
        </div>
        <span>Relatórios  </span>
    </div>
    <div class="col-md-4">
        <div>
            <a href="../Configuracao/Index "><img src="~/Content/img/g" width="150" height="150" /></a>
        </div>
        <span>Configurações</span>
    </div>
</div>*@
@*© 2021 GitHub, Inc.*@