@{
    ViewData["Title"] = "Menu";

    @Scripts.Render("~/Scripts/Views/Menu.js")
}

<script src="https://code.jquery.com/jquery-2.2.4.js"
        integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
        crossorigin="anonymous"></script>
<script>
    var urlOpenEstablishment = '@Url.Action("Index", "Establishments")';
    var urlOpenCategory = '@Url.Action("Index", "Categories")';
</script>

<div class="row" style="text-align:center;margin-top: 25px;">
    <div class="col-md-4">
        <div class="divEstablishment">
            <img src="~/Content/img/estabelecimentos.png" width="150" height="150" onclick="OpenEstablishments()" />
        </div>
        <span>Cadastro de Estabelecimentos </span>
    </div>
    <div class="col-md-4">
        <div class="divCategories">
            <img src="~/Content/img/categorias.png" width="150" height="150" onclick="OpenCategories()" />
        </div>
        <span>Cadastro de Categorias    </span>
    </div>
</div>
